body {
beckground: #cccccc;
}

#banner {
width: 100%;
}

h1 {
text-aling: center;
}

p{
text-align: center;
  beckground: #cccccc;
}

#missao {
  font-size: 20px;
}

em stong {
  color: #FF0000;
}

.itens {
  font-style: italic;
}

